<div>
  <h2 id="page-heading" data-cy="ContentTagHeading">
    <span jhiTranslate="proyectoBethelApp.contentTag.home.title">Content Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectoBethelApp.contentTag.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-content-tag"
        [routerLink]="['/content-tag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoBethelApp.contentTag.home.createLabel"> Create a new Content Tag </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contentTags?.length === 0">
    <span jhiTranslate="proyectoBethelApp.contentTag.home.notFound">No contentTags found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contentTags && contentTags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createById">
            <span jhiTranslate="proyectoBethelApp.contentTag.createById">Create By Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="proyectoBethelApp.contentTag.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedById">
            <span jhiTranslate="proyectoBethelApp.contentTag.lastModifiedById">Last Modified By Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="proyectoBethelApp.contentTag.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contentId.id">
            <span jhiTranslate="proyectoBethelApp.contentTag.contentId">Content Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="catalogId.id">
            <span jhiTranslate="proyectoBethelApp.contentTag.catalogId">Catalog Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contentTag of contentTags; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/content-tag', contentTag.id, 'view']">{{ contentTag.id }}</a>
          </td>
          <td>{{ contentTag.createById }}</td>
          <td>{{ contentTag.createdDate | formatMediumDatetime }}</td>
          <td>{{ contentTag.lastModifiedById }}</td>
          <td>{{ contentTag.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="contentTag.contentId">
              <a [routerLink]="['/content', contentTag.contentId?.id, 'view']">{{ contentTag.contentId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contentTag.catalogId">
              <a [routerLink]="['/catalog', contentTag.catalogId?.id, 'view']">{{ contentTag.catalogId?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/content-tag', contentTag.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/content-tag', contentTag.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contentTag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contentTags && contentTags.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
