<div>
  <h2 id="page-heading" data-cy="CatalogHeading">
    <span jhiTranslate="proyectoBethelApp.catalog.home.title">Catalogs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectoBethelApp.catalog.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-catalog"
        [routerLink]="['/catalog/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoBethelApp.catalog.home.createLabel"> Create a new Catalog </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="catalogs?.length === 0">
    <span jhiTranslate="proyectoBethelApp.catalog.home.notFound">No catalogs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="catalogs && catalogs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="proyectoBethelApp.catalog.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="proyectoBethelApp.catalog.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="proyectoBethelApp.catalog.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="proyectoBethelApp.catalog.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createById">
            <span jhiTranslate="proyectoBethelApp.catalog.createById">Create By Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="proyectoBethelApp.catalog.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedById">
            <span jhiTranslate="proyectoBethelApp.catalog.lastModifiedById">Last Modified By Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="proyectoBethelApp.catalog.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parentId.id">
            <span jhiTranslate="proyectoBethelApp.catalog.parentId">Parent Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catalog of catalogs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/catalog', catalog.id, 'view']">{{ catalog.id }}</a>
          </td>
          <td>{{ catalog.code }}</td>
          <td>{{ catalog.name }}</td>
          <td>{{ catalog.description }}</td>
          <td>{{ catalog.active }}</td>
          <td>{{ catalog.createById }}</td>
          <td>{{ catalog.createdDate | formatMediumDatetime }}</td>
          <td>{{ catalog.lastModifiedById }}</td>
          <td>{{ catalog.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="catalog.parentId">
              <a [routerLink]="['/catalog', catalog.parentId?.id, 'view']">{{ catalog.parentId?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/catalog', catalog.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/catalog', catalog.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(catalog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="catalogs && catalogs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
