<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-catalog-heading" data-cy="CatalogCreateUpdateHeading" jhiTranslate="proyectoBethelApp.catalog.home.createOrEditLabel">
        Create or edit a Catalog
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.createById" for="field_createById">Create By Id</label>
          <input
            type="number"
            class="form-control"
            name="createById"
            id="field_createById"
            data-cy="createById"
            formControlName="createById"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.lastModifiedById" for="field_lastModifiedById"
            >Last Modified By Id</label
          >
          <input
            type="number"
            class="form-control"
            name="lastModifiedById"
            id="field_lastModifiedById"
            data-cy="lastModifiedById"
            formControlName="lastModifiedById"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.catalog.parentId" for="field_parentId">Parent Id</label>
          <select class="form-control" id="field_parentId" data-cy="parentId" name="parentId" formControlName="parentId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="catalogOption.id === editForm.get('parentId')!.value?.id ? editForm.get('parentId')!.value : catalogOption"
              *ngFor="let catalogOption of catalogsSharedCollection; trackBy: trackCatalogById"
            >
              {{ catalogOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
