<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-content-tag-heading"
        data-cy="ContentTagCreateUpdateHeading"
        jhiTranslate="proyectoBethelApp.contentTag.home.createOrEditLabel"
      >
        Create or edit a Content Tag
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.contentTag.createById" for="field_createById"
            >Create By Id</label
          >
          <input
            type="number"
            class="form-control"
            name="createById"
            id="field_createById"
            data-cy="createById"
            formControlName="createById"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.contentTag.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.contentTag.lastModifiedById" for="field_lastModifiedById"
            >Last Modified By Id</label
          >
          <input
            type="number"
            class="form-control"
            name="lastModifiedById"
            id="field_lastModifiedById"
            data-cy="lastModifiedById"
            formControlName="lastModifiedById"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.contentTag.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.contentTag.contentId" for="field_contentId">Content Id</label>
          <select class="form-control" id="field_contentId" data-cy="contentId" name="contentId" formControlName="contentId">
            <option *ngIf="!editForm.get('contentId')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="contentOption.id === editForm.get('contentId')!.value?.id ? editForm.get('contentId')!.value : contentOption"
              *ngFor="let contentOption of contentsSharedCollection; trackBy: trackContentById"
            >
              {{ contentOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['contentId'])!.invalid && (editForm.get(['contentId'])!.dirty || editForm.get(['contentId'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['contentId'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoBethelApp.contentTag.catalogId" for="field_catalogId">Catalog Id</label>
          <select class="form-control" id="field_catalogId" data-cy="catalogId" name="catalogId" formControlName="catalogId">
            <option *ngIf="!editForm.get('catalogId')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="catalogOption.id === editForm.get('catalogId')!.value?.id ? editForm.get('catalogId')!.value : catalogOption"
              *ngFor="let catalogOption of catalogsSharedCollection; trackBy: trackCatalogById"
            >
              {{ catalogOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['catalogId'])!.invalid && (editForm.get(['catalogId'])!.dirty || editForm.get(['catalogId'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['catalogId'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
